body{
	margin-top: 50px;
}

.panel {
	margin-top: 5%;
	padding: 3%;
	box-shadow: 5px 5px 15px;
}

footer .navbar{
	margin-top: 3.75%;
	margin-bottom: 0;
	border-style: none;
	/*margin-top: 51px;*/
	/*margin: 0;*/
}

.hovered:hover{
	background-color: black;
}


.panel .panel-heading{
	background-color: white;
	margin: 0;
}