body{
	position: relative;
	top: 50px;
	background-color: rgb(242, 242, 242);
}

.top{
	background-color: white;
	height: auto;
	padding: 0;
}

.coverPhoto{
	height: 250px;
	position: relative;
	background-size: cover;
	background: url("../resources/star_wars.png") no-repeat center;
}

.coverPhoto a{
	height: 250px;
	padding: 0;
}

.profPic{
	width: 150px;
	height: 150px;
	position: absolute;
	top: 160px;
	left: 26.5%;
}

.userName{
	padding-top: 50px;
}

.subNavLarge, .coverButtonLarge{
	display: none;
}

.subNav, .coverButton{
	padding: 2px;
}

.subNav ul{
	background-color: white;
}

.subNav a, .coverButton button{
	padding: 15px;
}

@media screen and (min-width: 321px){
	.profPic{
		left: 30%;
	}
}

@media screen and (min-width: 376px){
	.profPic{
		left: 33%;
	}
}

@media screen and (min-width: 426px){
	.profPic{
		left: 40%;
	}
}

@media screen and (min-width: 769px){
	.profPic{
		left: 20px;
	}

	.userName{
		padding: 0;
		position: absolute;
		width: auto;
		/*top: 160px;*/
		bottom: 10px;
		left: 200px;
	}

	.userName h3{
		color: white;
		margin: 0 0 0 0;
		font-weight: bold;
	}

	.coverButton, .subNav{
		display: none;
	}

	.coverButtonLarge{
		display: block;
		position: absolute;
		right: 10px;
		bottom: 10px;
	}

	.subNavLarge{
		display: block;
		position: absolute;
		left: 170px;
		background-color: white;
		width: 75%;
	}
}