body{
	margin-top: 50px;
	background-color: rgb(242, 242, 242);
}

.panel {
	margin-top: 5%;
	padding: 3%;
	box-shadow: 5px 5px 15px;
}

footer .navbar{
	margin-top: 3.75%;
	margin-bottom: 0;
	border-style: none;
}

.hovered:hover{
	background-color: black;
}

.panel .panel-heading{
	background-color: white;
	margin: 0;
}

.coverPhoto{
	height: 250px;
	position: relative;
	overflow: hidden;
	top: 0px;
	background: url("../resources/cover.png") no-repeat center;
	background-size: cover;
}

.profPic img{
	height: 100%;
	width: 100%;
}

.profPic{
	width: 150px;
	height: 150px;
	/*position: relative;*/
	padding: 0;
	top: -85px;
	/*left: 15px;*/
}

.insideCover{
	position: absolute;
	top: 80%;
}

.insideCover h3{
	color: white;
	margin: 0;
	/*margin-left: 2%;*/
}

.subNav{
	background-color: white;
	padding: 3px;
}

.profNav{
	left: 15px;
}

@media only screen and (max-width: 991px){
	.profPic{
		left: 40%;
	}
}

@media only screen and (max-width: 425px){
	.profPic{
		left: 30%;
	}
}

@media only screen and (max-width: 320px){
	.profPic{
		left: 25%;
	}
}